streamlit
streamlit-elements==0.0.2
sentence-transformers
faiss-cpu
stqdm
openpyxl
groq
openai
anthropic
advertools
tldextract 
langchain_anthropic 
langchain 
networkx
python-louvain
futures
scipy
python-Levenshtein
tqdm
spacy
nltk
scikit-learn
spacy-entity-linker
rake_nltk
streamlit_tags
google_auth_oauthlib
google-api-python-client
searchconsole
plotly
pyvis
